@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


header {
  background-color: #ffffff;
  border-bottom: 8px solid #333333;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.menu-logo {
  width: 200px;
}

.menu-item-link {
  padding: 20px;
  color: #db1414;
  font-size: 20px;
  font-family: 'Shadow', sans-serif;
  font-weight: 400;
}

.menu-item-link:hover {
  color: #332c26;
  transition: 0.7s;
}

nav#tree {
  color: #db1414;
  font-family: 'Shadow', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 120px;
  max-width: 300px;
}

nav#tree ul {
  padding-left: 16px;
}

nav#tree li {
  list-style: none;
  margin-top: 2px;
}

nav#tree li.has-children {
  cursor: pointer;
  position: relative;
}

nav#tree li.has-children::before {
  content: '\f107';
  color: #dd1818;
  position: absolute;
  font-size: 25px;
  right: 15px;
}

li > ul {
  display: none;
}

li.open > ul {
  display: block;
}

.menu-botao button {
background: #333333;
background: -webkit-linear-gradient(to right, #dd1818, #333333);
background: linear-gradient(to right, #dd1818, #333333);
width: 65px;
height: 35px;
color: #ffffff;
font-family: 'Dongle', sans-serif;
font-weight: 400;
font-size: 25px;
border: none;
border-radius: 10%;
cursor: pointer;
}

.menu-botao button:hover {
  background: #241714;
}

main {
  text-align: center;
  border-bottom: 8px solid #333333;
}

main img {
  width: 990px;
  height: 500px;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}

.slide-show{
  overflow: hidden;
}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.sobre {
  text-align: center;
  padding: 30px;
}

.sobre-titulo {
  color: #dd1818;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Dongle', sans-serif;
}

.sobre-paragrafo {
  color: #333333;
  font-size: 35px;
  font-family: 'Dongle', sans-serif;
}

.faca-cadastro {
  text-align: center;
  padding: 15px;
}

.faca-cadastro-titulo {
  color: #dd1818;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Dongle', sans-serif;
}

.input {
  margin-bottom: 20px;
}

.input h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Shadow', sans-serif;
  font-weight: 400 bold;
  font-size: 25px;
  color: #333333;
}

.input input {
  width: 500px;
  height: 35px;
  border-radius: 10%;
  border: 4px solid #dd1818;
}

.botao-cadastro button {
  background: #333333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
  width: 120px;
  height: 35px;
  color: #ffffff;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 25px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
}

.botao-cadastro button:hover {
  background: #241714;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  color: #dd1818;
  font-size: 20px;
  font-family: 'Shadow', sans-serif;
  font-weight: 400;
}

.rodape-rede-social img {
  width: 2rem;
}