@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Shadows+Into+Light&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: url(/img/mario.jpg);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 500px;
  margin-left: 300px;
  margin-bottom: 500px;
  background-color: #db1414;
  border: 3px solid #241714;
}

.login-titulo {
  font-size: 50px;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  color: #241714;
  text-transform: uppercase;
  padding: 20px;
}

.login-senha {
  font-size: 60px;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  color: #241714;
  text-transform: uppercase;
  padding: 20px;
}

input {
  width: 30rem;
  height: 2.5rem;
  border: 4px solid #241714;
  border-radius: 10%;
}

.button {
  background: #241714;
  color: #ffffff;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  width: 15rem;
  height: 3rem;
  font-size: 25px;
  border-radius: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.button:hover {
  background: #ffffff;
  color: #241714;
  transition: 0.5s;
}