@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  border-bottom: 8px solid #333333;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.menu-logo {
  width: 200px;
}

.menu-item-link {
  padding: 20px;
  color: #db1414;
  font-size: 25px;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.menu-item-link:hover {
  color: #332c26;
  transition: 0.7s;
}

.menu-botao button {
background: #333333;
background: -webkit-linear-gradient(to right, #dd1818, #333333);
background: linear-gradient(to right, #dd1818, #333333);
width: 65px;
height: 35px;
color: #ffffff;
font-family: 'Dongle', sans-serif;
font-weight: 400;
font-size: 25px;
border: none;
border-radius: 10%;
cursor: pointer;
}

.menu-botao button:hover {
  background: #241714;
}

.main-slide-img {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.main-slide-img li {
  position: absolute;
  list-style: none;
}

.main-slide-img img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.main-slide-img input {
  display: none;
}

.main-slide-img label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.main-slide-img li:nth-child(1) label {
  left: 10px;
}

.main-slide-img li:nth-child(2) label {
  left: 40px;
}

.main-slide-img li:nth-child(3) label {
  left: 70px;
}

.main-slide-img li:nth-child(4) label {
  left: 100px;
}

.main-slide-img img {
  opacity: 0;
  visibility: hidden;
}

.main-slide-img li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}