@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Shadows+Into+Light&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 500px;
  padding-bottom: 500px;
  background-color: #db1414;
}

.login-titulo {
  font-size: 50px;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  color: #241714;
  text-transform: uppercase;
  padding: 20px;
}

.login-senha {
  font-size: 60px;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  color: #241714;
  text-transform: uppercase;
  padding: 20px;
}

input {
  width: 40rem;
  height: 2rem;
  border: 4px solid #241714;
  border-radius: 10%;
}

.button {
  background: #241714;
  color: #ffffff;
  font-family: 'Shadows', sans-serif;
  font-weight: 400 bold;
  width: 15rem;
  height: 3rem;
  font-size: 25px;
  border-radius: 10%;
  margin-top: 2rem;
  cursor: pointer;
}

.button:hover {
  background: #ffffff;
  color: #241714;
  transition: 0.5s;
}